body {
	font-family: sans-serif;
	color: black;
	
}

#id_div_everything {
	text-align: center;
}

#id_div_header {
	margin-left: auto;
	margin-right: auto;
}

#id_div_menu {
	margin-left: auto;
	margin-right: auto;
}

#id_div_content {
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: black;
}

h1 rt {
	color: silver;
}

p {
	font-weight: bold;
}

.menu_title {
	border-radius: 10px 0px 0px 10px;
	background: #73AD21;
	padding: 4px 14px 4px 14px; 
	color: white;
}

.menu_end {
	border-radius: 0px 10px 10px 0px;
	background: #73AD21;
	padding: 4px 14px 4px 14px; 
	color: white;
}

.menu_this {
	font-weight: bold;
	border-top: 4px solid #73AD21;
	border-bottom: 6px solid #73AD21;
	padding: 3px 4px 3px 4px; 
	background-color: gold;
	margin: 0px;
	color: black;
}

.menu_other {
	border-top: 1px solid #73AD21;
	border-bottom: 1px solid #73AD21;
	padding: 3px 4px 3px 4px; 
	margin: 0px;
	color: white;
}

.menu_other a {
	color: blue;
}

.para_settings {
	color: #abcdef;
	border-radius: 4px;
	padding: 2px 4px 2px 4px;
}

#id_fontsize_title {
	font-size: small;
}

.showFurigana rt {
	visibility: visible;
}

.hideFurigana {
	cursor: pointer;
}

.pointyClicky{
	cursor: pointer;
}

.fontSizerSelected{
	background: cornsilk;
	font-weight: bold;
}

.hideFurigana rt {
	visibility: hidden;
}

#id_span_date_english {
	visibility: hidden;
}

#id_div_quizContent {
	border: 2px green solid;
	margin: 5px;
	background-color: silver;
	text-align: left;
}

.kuizu_hr {
	clear: both;
	float: left;
	display: block; 
	color: yellow;
	background-color: yellow;
	width: 100%;
}

.type_undo {
	color: red;
	background-color: white;
	margin: 5px;
	width: auto;
	float: left;
}

.type_answer {
	color: black;
	background-color: white;
	margin: 5px;
	width: auto;
	float: left;
}

.cell_title {
	color: black;
	background-color: white;
	border: 1px dashed black;
	width:auto;
	padding: 0px 10px 0px 10px;
}

.cell_content {
	color: black;
	background-color: white;
	border: 1px dashed black;
}

.undo_title {
	color: red;
	background-color: white;
	border: 1px dashed black;
	width:auto;
}

.undo_cell_content {
	color: red;
	background-color: white;
	border: 1px dashed black;
	padding: 0px 10px 0px 10px;
}

.type_hiragana {
	color: black;
	background-color: white;
	border: 1px dashed blue;
	margin: 5px;
	padding: 3px;
	width: auto;
	float: left;
}

.type_kanji {
	color: black;
	background-color: white;
	border: 1px dashed blue;
	padding: 3px;
	margin: 5px;
	width: auto;
	float: left;
}

.kuizo_right {
	background-color: palegreen;
}

.kuizo_wrong{
	background-color: pink;
}



